@mixin font-face($font-name, $font-weight) {
  @font-face {
    font-family: $font-name;
    font-weight: $font-weight;
    font-style: normal;
    src:
      url("/assets/fonts/#{$font-name}/#{$font-name}-#{$font-weight}.woff2") format("woff2"),
      url("/assets/fonts/#{$font-name}/#{$font-name}-#{$font-weight}.woff") format("woff"),
      url("/assets/fonts/#{$font-name}/#{$font-name}-#{$font-weight}.ttf") format("truetype");
  }
}

@mixin flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin primary-border {
  border: 1px solid $border-color;
  border-radius: $border-radius;
}

@mixin bg-dark {
  background-color: $dark;
}
